<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      <h3 class="bg-primary text-white p-3">
        {{getName()}}'s To Do List
      </h3>
      <div class="input-group mb-3">
        <input [(ngModel)]="inputText"
        type="text" class="form-control" 
        (keyup.enter) = "addItem();">
        <button [class]="getBtnClasses()" class="btn" (click)="addItem();">Add</button>
      </div>
        <div class="form-check mb-3">
        <input type="checkbox" [(ngModel)] = "displayAll" class="form-check-input" id="displayAll">
        <label for="displayAll" class="form-check-label">Display All</label>
      </div>
      <div class="my-2" *ngIf="displayCount() > 1">
        {{ displayCount() }} missions done.
      </div>
      <div class="my-2" *ngIf="displayCount() < 2 ">
        {{ displayCount() }} mission done.
      </div>
      <table class="table table-striped table-bordered" *ngIf= "getItems().length > 0">
        <thead>
          <tr>
            <th></th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getItems(); let i = index;">
            <td>{{ i + 1 }}</td>
            <td>{{ item.description }}</td>
            <td>
              <!-- <div *ngIf="item.action">Yapildi</div>
              <div *ngIf="!item.action">Yapilacak</div> -->
              <div [ngSwitch]="item.action">
                <div *ngSwitchCase=true >Yapildi</div>
                <div *ngSwitchDefault>Yapilacak</div>
              </div>
            </td>
            <td><input type="checkbox" [(ngModel)]="item.action"></td>
          </tr>
        </tbody>
      </table>
      <div class="alert alert-warning" *ngIf="getItems().length == 0">
        Yapilacak is yok.
      </div>
    </div>
  </div>
</div>